<h1>Student CVs from University of Ruhuna</h1>
<p>Dear {{companyName}},</p>

<p>Please find attached the CVs of the following students:</p>

<ul>
  {{#each students}}
    <li>{{name}} ({{scNumber}}) </li>
  {{/each}}
</ul>

<p>Best regards,<br />
  University of Ruhuna</p>